
/////color
$color_1:#222222;
$color_2:#ffffff;
$color_3:#03D36F;
$color_4:#666666;
$color_5:#02170D;
$color_6:#04B560;
$color_7:#F7F8F7;
$color_8:#02A556;
$color_9:#32483E;
$color_10:#E5E5E5;
$color_11:#F7F8F7;
$color_12:#DCE0DE;