.cookies{
    background-color: $color_11;
    height:2400px;
    margin-top:76px;
    .title-semibold{
        font-family: 'Raleway-Bold';
        font-style: normal;
        font-weight: 600;
        color:$color_1;
    }
    .paraghraphe{
        font-family: 'Montserrat-Regular';
        font-style: normal;
        font-weight: normal;
        color:$color_4;
    }
    .cookies-title{
        display:flex;
        margin-left: 100px;
        padding-top:83px;
        img{
            width:55px;
            height:51.04px;
            margin-top:10px;
        }
        h2{
            @extend .title-semibold;
            font-size:36px;
        }
        p{
            @extend .paraghraphe;
            font-size: 18px;
            line-height: 10px;
        }
        .mini-paraghraphe{
            margin-top:20px;
        }
        .paraphraphe-left-pic{
            margin-left: 10px;
        }
    }
    .grand-paragraphe{
        background-color: $color_2;
        box-shadow: 0px 2px 3Px rgba(0,0,0,0.02);
        width:1019px;
        height:2054px;
        margin-left: 165px;
        margin-top: 50px;
        .centent{
            width:980px;
            padding-left:105px;
            padding-top: 60px;
        }
        p{
            @extend .paraghraphe;
            font-size: 16px;
            line-height: 30px;
        }
        h2{
            @extend .title-semibold;
            font-size: 24px;
            margin-top:50px ;
        }
        .para-after-title{
            margin-top: 15px;
        }

    }
}